<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.meetu.model.dao.mapper.UserMapper">

	<resultMap id="userResultMap" type="ServiceUser">
		<id column="user_id" jdbcType="VARCHAR" property="userId" javaType="string" />
		<result column="password" jdbcType="VARCHAR" property="password" javaType="string" />
		<result column="phone" jdbcType="VARCHAR" property="phone" javaType="string" />
		<association property="memberInfo" column="member_no" javaType="Member">
			<id column="member_no" jdbcType="VARCHAR" property="memberNo" javaType="string" />
			<result column="role" jdbcType="INTEGER" property="role" javaType="int" />
			<result column="name" jdbcType="VARCHAR" property="name" javaType="string" />
			<result column="email" jdbcType="VARCHAR" property="email" javaType="string" />
			<association property="deptInfo" column="dept_no" javaType="Department">
				<id column="prof_dept_no" jdbcType="VARCHAR" property="deptNo" javaType="string" />
				<result column="dept_name" jdbcType="VARCHAR" property="deptName" javaType="string" />
			</association>
		</association>
	</resultMap>
	
	<resultMap id="studentMemberResultMap" type="Member">
		<id column="member_no" jdbcType="VARCHAR" property="memberNo" javaType="string" />
		<result column="role" jdbcType="INTEGER" property="role" javaType="int" />
		<result column="name" jdbcType="VARCHAR" property="name" javaType="string" />
		<result column="email" jdbcType="VARCHAR" property="email" javaType="string" />
		<association property="stuInfo" column="stu_no" javaType="Student">
			<id column="member_no" jdbcType="VARCHAR" property="memberNo" javaType="string" />
			<result column="year" jdbcType="INTEGER" property="year" javaType="int" />
		</association>
		<association property="deptInfo" column="dept_no" javaType="Department">
			<id column="dept_no" jdbcType="VARCHAR" property="deptNo" javaType="string" />
			<result column="dept_name" jdbcType="VARCHAR" property="deptName" javaType="string" />
			<association property="collegeInfo" column="college_no" javaType="College">
				<id column="college_no" jdbcType="VARCHAR" property="collegeNo" javaType="string" />
				<result column="college_name" jdbcType="VARCHAR" property="collegeName" javaType="string" />
			</association>
		</association>
	</resultMap>
	
	<resultMap id="professorMemberResultMap" type="Member">
		<id column="member_no" jdbcType="VARCHAR" property="memberNo" javaType="string" />
		<result column="role" jdbcType="INTEGER" property="role" javaType="int" />
		<result column="name" jdbcType="VARCHAR" property="name" javaType="string" />
		<result column="email" jdbcType="VARCHAR" property="email" javaType="string" />
		<association property="profInfo" column="prof_no" javaType="Professor">
			<id column="member_no" jdbcType="VARCHAR" property="memberNo" javaType="string" />
			<result column="major" jdbcType="VARCHAR" property="major" javaType="string" />
			<result column="office_no" jdbcType="VARCHAR" property="officeNo" javaType="string" />
			<collection property="courses" ofType="Course">
				<id column="course_no" jdbcType="VARCHAR" property="courseNo" javaType="string" />
				<result column="title" jdbcType="VARCHAR" property="title" javaType="string" />
			</collection>
			<collection property="consultableTimes" ofType="ConsultableTime">
				<result column="able_date" jdbcType="INTEGER" property="ableDate" javaType="int" />
				<result column="able_time" jdbcType="VARCHAR" property="ableTime" javaType="string" />
				<result column="prof_id" jdbcType="VARCHAR" property="profId" javaType="string" />
			</collection>
		</association>
		<association property="deptInfo" column="dept_no" javaType="Department">
			<id column="dept_no" jdbcType="VARCHAR" property="deptNo" javaType="string" />
			<result column="dept_name" jdbcType="VARCHAR" property="deptName" javaType="string" />
			<association property="collegeInfo" column="college_no" javaType="College">
				<id column="college_no" jdbcType="VARCHAR" property="collegeNo" javaType="string" />
				<result column="college_name" jdbcType="VARCHAR" property="collegeName" javaType="string" />
			</association>
		</association>
	</resultMap>
		
	<resultMap id="collegeResultMap" type="College">
		<id column="college_no" jdbcType="VARCHAR" property="collegeNo" javaType="string" />
		<result column="college_name" jdbcType="VARCHAR" property="collegeName" javaType="string" />
	</resultMap>
	
	<resultMap id="departmentResultMap" type="Department">
		<id column="dept_no" jdbcType="VARCHAR" property="deptNo" javaType="string" />
		<result column="dept_name" jdbcType="VARCHAR" property="deptName" javaType="string" />
		<result column="college_no" jdbcType="VARCHAR" property="collegeNo" javaType="string" />
	</resultMap>
	
	<resultMap id="professorResultMap" type="Professor">
		<id column="prof_no" jdbcType="VARCHAR" property="memberNo" javaType="string" />
		<result column="major" jdbcType="VARCHAR" property="major" javaType="string" />
		<result column="office_no" jdbcType="VARCHAR" property="officeNo" javaType="string" />
		<association property="memberInfo" column="member_no" javaType="Member">
			<id column="member_no" jdbcType="VARCHAR" property="memberNo" javaType="string" />
			<result column="email" jdbcType="VARCHAR" property="email" javaType="string" />
			<result column="name" jdbcType="VARCHAR" property="name" javaType="string" />
			<association property="deptInfo" column="dept_no" javaType="Department">
				<id column="dept_no" jdbcType="VARCHAR" property="deptNo" javaType="string" />
				<result column="dept_name" jdbcType="VARCHAR" property="deptName" javaType="string" />
			</association>
		</association>
		<collection property="courses" ofType="Course">
			<id column="course_no" jdbcType="VARCHAR" property="courseNo" javaType="string" />
			<result column="title" jdbcType="VARCHAR" property="title" javaType="string" />
		</collection>
	</resultMap>
	
	<!-- 특정 회원정보 조회 -->
  <select id="selectServiceUser" parameterType="String" resultMap="userResultMap">
      SELECT user_id, password, phone, member_no,
       role, name, email, dept_no, dept_name
      FROM service_user 
       JOIN member USING(member_no)
       JOIN department USING(dept_no)
      WHERE user_id = #{userId}
  </select>
  
  <!-- 학생 구성원 정보 조회 -->
  <select id="selectStudentMember" parameterType="String" resultMap="studentMemberResultMap">
      SELECT member_no, role, name, email, dept_no,
      	year,
      	dept_name, college_no,
      	college_name
      FROM member
       JOIN service_user USING(member_no)
       JOIN student USING(member_no)
       JOIN department USING(dept_no)
       JOIN college USING(college_no)
      WHERE user_id = #{userId}
  </select>
  
  <!-- 교수 구성원 정보 조회 -->
  <select id="selectProfessorMember" parameterType="String" resultMap="professorMemberResultMap">
      SELECT m.member_no, m.role, m.name, m.email, m.dept_no,
       p.major, p.office_no,
       d.dept_name, d.college_no,
       c.college_name,
       ct.able_date, ct.able_time, ct.prof_id,
       co.course_no, co.title
      FROM member m
       FULL OUTER JOIN service_user su ON m.member_no = su.member_no
       FULL OUTER JOIN professor p ON m.member_no = p.member_no
       FULL OUTER JOIN department d ON m.dept_no = d.dept_no
       FULL OUTER JOIN college c ON d.college_no = c.college_no
       FULL OUTER JOIN consultable_time ct ON su.user_id = ct.prof_id
       FULL OUTER JOIN class cl ON m.member_no = cl.prof_no
       FULL OUTER JOIN course co ON cl.course_no = co.course_no
      WHERE su.user_id = #{userId}
  </select>
    
  <select id="selectCollege" resultMap="collegeResultMap">
      SELECT college_no, college_name
      FROM college
  </select>
    
  <select id="selectDepartment" resultMap="departmentResultMap">
      SELECT dept_no, dept_name, college_no
      FROM department
  </select>
    
  <select id="selectProfessorByDept" parameterType="String" resultMap="professorResultMap">
		SELECT p.member_no AS prof_no, p.major, p.office_no, 
    		m.member_no, m.email, m.dept_no, m.name,
    		d.dept_name,
    		co.course_no, co.title
		FROM professor p
    		JOIN member m ON p.member_no = m.member_no
    		JOIN department d ON m.dept_no = d.dept_no
    		JOIN class cl ON cl.prof_no = p.member_no
    		JOIN course co ON co.course_no = cl.course_no
		WHERE m.dept_no = #{deptNo}
	</select>
    
    <select id="selectServiceUserByMemberNo" parameterType="String" resultMap="userResultMap">
        SELECT user_id, password, phone, member_no,
        	role, name, email, dept_no
        FROM service_user JOIN member USING(member_no)
        WHERE member_no = #{memberNo}
    </select>
    
    <select id="selectProfessorByKeyword" parameterType="String" resultMap="professorResultMap">
    	SELECT p.member_no AS prof_no, p.major, p.office_no, 
    		m.member_no, m.email, m.dept_no, m.name,
    		d.dept_name,
    		co.course_no, co.title
    	FROM professor p
    		JOIN member m ON p.member_no = m.member_no
    		JOIN department d ON m.dept_no = d.dept_no
    		JOIN class cl ON cl.prof_no = p.member_no
    		JOIN course co ON co.course_no = cl.course_no
    	where m.name LIKE #{keyword} OR replace(p.major, ' ', '') LIKE #{keyword} OR m.dept_no IN (SELECT dept_no FROM department WHERE dept_name LIKE #{keyword})
    </select>
    
    <select id="selectProfessorByMemberNo" parameterType="String" resultMap="professorResultMap">
        SELECT p.member_no AS prof_no, p.major, p.office_no, 
    		m.member_no, m.email, m.dept_no, m.name,
    		d.dept_name,
    		co.course_no, co.title
		FROM professor p
    		JOIN member m ON p.member_no = m.member_no
    		JOIN department d ON m.dept_no = d.dept_no
    		JOIN class cl ON cl.prof_no = p.member_no
    		JOIN course co ON co.course_no = cl.course_no
		WHERE m.member_no = #{memberNo}
    </select>
</mapper>