<!doctype html>
<html>

<head>
	<meta charset="UTF-8">
  	<title>FindPassword</title>

  	<link rel="preconnect" href="https://fonts.googleapis.com">
  	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  	<link href="https://fonts.googleapis.com/css2?family=Yellowtail&display=swap" rel="stylesheet">
  
  	<link th:href="@{/css/findPwdForm.css}" rel="stylesheet" />
</head>

<body id="bodyBg">
	<div id="findPwWrap">
        <div id="loginTitle"><a>비밀번호 찾기</a></div>
        <form method="post" action="/user/findPwd">
            <div class="form-group">
                <label>아이디</label>
                <input type="text" class="form-control" name="userId" id="id" aria-describedby="emailHelp" placeholder="아이디" required>
            </div>
            <button type="submit" id="findPwBtn">확인</button>
        </form>
    </div>
</body>
</html>
