<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Join</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Yellowtail&display=swap" rel="stylesheet">
  
  <link th:href="@{/css/join.css}" rel="stylesheet" />
</head>

<body>
  <section>
    <div id="logo">MEETU</div>

    <form action="/user/join" method="post">
      <label>학번</label>
      <input type="text" placeholder="학번" name="memberInfo.memberNo" id="memberNo" />

      <label>비밀번호</label>
      <input type="text" placeholder="비밀번호" name="password" id="password" />

      <label>비밀번호 확인</label>
      <input type="text" placeholder="비밀번호 확인" name="passwordCk" id="passwordCk" />

      <button type="submit" id="joinBtn">가입하기</button>
    </form>
  </section>
</body>

</html>