<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>회원가입</title>
  <link th:href="@{/css/join.css}" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Yellowtail&display=swap" rel="stylesheet">

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  <script src="/join/js/join.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<body id="joinBodyBg">
  <div id="joinWrap">
    <div id="joinTitle"><a>MEETU</a></div>
    
    <form action="/user/join" method="post">
	    <div class="form-group">
	      <label>학번</label>
	      <input type="text" class="form-control" id="inputAddress2" name="memberInfo.memberNo" placeholder="학번">
	    </div>
	
	    <div class="form-row">
	      <div class="form-group col-md-6">
	        <label>비밀번호</label>
	        <input type="password" class="form-control" id="inputEmail4" name="password" placeholder="비밀번호">
	      </div>
	      <div class="form-group col-md-6">
	        <label>비밀번호 확인</label>
	        <input type="password" class="form-control" id="inputPassword4" name="password_ck" placeholder="비밀번호 확인">
	      </div>
	    </div>
	    
	    <button type="submit" id="join_btn">가입하기</button>
    </form>
  </div>
</body>

</html>