<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Join</title>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Yellowtail&display=swap" rel="stylesheet">
<link th:href="@{/css/joinAuth.css}" rel="stylesheet" />
</head>

<body>
	<form method="post" action="/user/joinAuth" name="joinAuth_form">
		<div id="AuthWrap">
			<label id="AuthTit">인증 코드 입력</label>
			<input type="text" id="input_code" name="input_code" placeholder="학사 메일로 발송된 인증 코드를 입력해 주세요." />
			<div id="AuthWarning">*인증번호가 오지 않으면 입력하신 정보가 정확한지 확인해주세요.</div>
			<div id="submitBtnWrap">
				<button type="submit" id="submit_btn">확인</button>
			</div>
		</div>
	</form>
</body>

</html>