<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Login</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Yellowtail&display=swap" rel="stylesheet">

  <link th:href="@{/css/loginForm.css}" rel="stylesheet" />
</head>

<body>
  <script th:inline="javascript">
    if ([[${ loginFailed }]]) {
      alert([[${ exception }]])
    }
    if ([[${ changePwdSuccess }]]) {
        alert("비밀번호가 변경되었습니다. 다시 로그인 하시길 바랍니다.");
    }
    if ([[${ resignSuccess }]]) {
        alert("탈퇴되었습니다.");
    }
  </script>

  <section>
    <div id="logo">MEETU</div>

    <form action="/user/login" method="post">
      <div id="radioBtnWrap">
        <input type="radio" name="role" id="student_ck" value="1" checked>
        <label>학부생</label>

        <input type="radio" name="role" id="professor_ck" value="0">
        <label>교직원</label>

        <input type="radio" name="role" id="admin_ck" value="2">
        <label>관리자</label>
      </div>

      <label>아이디</label>
      <input type="text" placeholder="아이디" name="userId" id="userId" />
      <label>비밀번호</label>
      <input type="password" placeholder="비밀번호" name="password" id="password" />

      <div id="askForgotAccount">
        <span>계정을 잊으셨나요?</span>
        <span>
          <a href="#">아이디 찾기</a> 또는 <a href="#">비밀번호 찾기</a>
        </span>
      </div>

      <div id="askFirtTime">
        <span>meetu가 처음이신가요?</span>
        <a href="/user/joinForm">회원가입</a>
      </div>

      <button type="submit" id="loginBtn">로그인</button>
    </form>
  </section>
</body>

</html>