<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/default_layout}">

<head>
  <meta charset="UTF-8">
  <title>MyPage</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Yellowtail&display=swap" rel="stylesheet">

  <link th:href="@{/css/header.css}" rel="stylesheet" />
  <link th:href="@{/css/myPage.css}" rel="stylesheet" />
  <link th:href="@{/css/footer.css}" rel="stylesheet" />

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>

<body>
  <th:block layout:fragment="header" th:include="@{/fragments/header}"></th:block>

  <section>
    <div id="userInfoWrap">
      <div id="tit">마이페이지</div>
      <div id="userInfo">
        <img src="/images/user.svg" id="userImg" />
        <div id="name">이름</div>
        <div id="infoBtnWrap">
          <button id="infoBtn" onclick="location.href='/user/my/info'">내 정보</button>
        </div>
        <div id="toggle" onclick="toggleText()">
          <img src="/images/toggle.svg" id="toggleImg" />
        </div>
      </div>
      <div id="accountWrap">
        <div id="accountTit">계정</div>
        <div id="resetPwdDiv">비밀번호 변경</div>
        <div id="secessionDiv">회원탈퇴</div>
      </div>
    </div>

    <div class="tabs">
      <input id="rezStatus" type="radio" name="tab_item" checked>
      <label class="tab_item" for="rezStatus">예약현황</label>

      <input id="rezCancel" type="radio" name="tab_item">
      <label class="tab_item" for="rezCancel">예약취소</label>

      <input id="rezConfirmation" type="radio" name="tab_item">
      <label class="tab_item" for="rezConfirmation">예약확정</label>

      <input id="consulCompleted" type="radio" name="tab_item">
      <label class="tab_item" for="consulCompleted">상담완료</label>

      <div id="searchWrap">
        <input type="text" placeholder="검색" id="searchText" />
        <img src="/images/search.svg" id="searchBtn" onclick="search()" />
      </div>

      <div class="tab_content" id="rezStatus_content">
        <table class="boardListWrap">
          <thead>
            <tr id="thBorder">
              <th></th>
              <th>교수명</th>
              <th>학생명</th>
              <th>상담일시</th>
              <th>장소</th>
            </tr>
          </thead>
          <tbody>
            <tr th:id="${consult.id}" th:if="${consult.status == 0}" th:each="consult : ${consults}">
              <td><img src="/images/moreImage.svg" id="moreImg" onClick="viewReservation()" /></td>
              <td th:text="${consult.profUser.memberInfo.name}">교수명</td>
              <td th:text="${consult.stuUser.memberInfo.name}">학생명</td>
              <td th:text="${#strings.substring(consult.startDate,0,16)} + ' ~ ' 
                + ${#strings.substring(consult.endDate,11,16)}">상담일시</td>
              <td th:if="${consult.type == 0}" th:text="${consult.profUser.memberInfo.profInfo.officeNo}">오프라인
              </td>
              <td th:if="${consult.type == 1}">온라인</td>
              <td th:if="${session.role == 0}"><button id="approvalBtn" onClick="check()">승인하기</button></td>
              <td th:if="${session.role == 0}"><button id="rejectBtn" onClick="check()">반려하기</button></td>
              <td th:if="${session.role == 1}"><button id="cancelBtn" onClick="check()">취소하기</button></td>
              <td th:if="${session.role == 1}"><button id="editBtn" onClick="check()">수정하기</button></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="tab_content" id="rezCancel_content">
        <table class="boardListWrap">
          <thead>
            <tr id="thBorder">
              <th></th>
              <th>교수명</th>
              <th>학생명</th>
              <th>상담일시</th>
              <th>장소</th>
            </tr>
          </thead>
          <tbody>
            <tr th:id="${consult.id}" th:if="${consult.status == 2 || consult.status == 4}"
              th:each="consult : ${consults}">
              <td><img src="/images/moreImage.svg" id="moreImg" onClick="viewReservation()" /></td>
              <td th:text="${consult.profUser.memberInfo.name}">교수명</td>
              <td th:text="${consult.stuUser.memberInfo.name}">학생명</td>
              <td th:text="${#strings.substring(consult.startDate,0,16)} + ' ~ ' 
                + ${#strings.substring(consult.endDate,11,16)}">상담일시</td>
              <td th:if="${consult.type == 0}" th:text="${consult.profUser.memberInfo.profInfo.officeNo}">오프라인
              </td>
              <td th:if="${consult.type == 1}">온라인</td>
              <td th:if="${consult.status == 2}"><button id="rejectMsgBtn">반려사유</button></td>
              <td th:if="${consult.status == 4}"><button id="rejectMsgBtn">취소사유</button></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="tab_content" id="rezConfirmation_content">
        <table class="boardListWrap">
          <thead>
            <tr id="thBorder">
              <th></th>
              <th>교수명</th>
              <th>학생명</th>
              <th>상담일시</th>
              <th>장소</th>
            </tr>
          </thead>
          <tbody>
            <tr th:id="${consult.id}" th:if="${consult.status == 1}" th:each="consult : ${consults}">
              <td><img src="/images/moreImage.svg" id="moreImg" onClick="viewReservation()" /></td>
              <td th:text="${consult.profUser.memberInfo.name}">교수명</td>
              <td th:text="${consult.stuUser.memberInfo.name}">학생명</td>
              <td th:text="${#strings.substring(consult.startDate,0,16)} + ' ~ ' 
                + ${#strings.substring(consult.endDate,11,16)}">상담일시</td>
              <td th:if="${consult.type == 0}" th:text="${consult.profUser.memberInfo.profInfo.officeNo}">오프라인
              </td>
              <td th:if="${consult.type == 1}">온라인</td>
              <td th:if="${session.role == 0}"><button id="cancelBtn" onClick="check()">취소하기</button></td>
              <td th:if="${session.role == 0}"><button id="editBtn" onClick="check()">수정하기</button></td>
              <td th:if="${session.role == 0}"><button id="consultedBtn" onClick="check()">완료하기</button></td>
              <td th:if="${session.role == 1}"><button id="msgBtn">쪽지함</button></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="tab_content" id="consulCompleted_content">
        <table class="boardListWrap">
          <thead>
            <tr id="thBorder">
              <th></th>
              <th>교수명</th>
              <th>학생명</th>
              <th>상담일시</th>
              <th>장소</th>
            </tr>
          </thead>
          <tbody>
            <tr th:id="${consult.id}" th:if="${consult.status == 3}" th:each="consult : ${consults}">
              <td><img src="/images/moreImage.svg" id="moreImg" onClick="viewReservation()" /></td>
              <td th:text="${consult.profUser.memberInfo.name}">교수명</td>
              <td th:text="${consult.stuUser.memberInfo.name}">학생명</td>
              <td th:text="${#strings.substring(consult.startDate,0,16)} + ' ~ ' 
                + ${#strings.substring(consult.endDate,11,16)}">상담일시</td>
              <td th:if="${consult.type == 0}" th:text="${consult.profUser.memberInfo.profInfo.officeNo}">오프라인
              </td>
              <td th:if="${consult.type == 1}">온라인</td>
              <td th:if="${session.role == 0}"><button id="consultationRecordBtn" onClick="check()">상담일지</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>

  <th:block layout:fragment="footer" th:include="@{/fragments/footer}"></th:block>
  
  <script src="/javascript/myPage.js"></script>
</body>

</html>