<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/default_layout}">
<head>
	<meta charset="UTF-8">
	<title>비밀번호 재설정</title>
	
	<link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Yellowtail&display=swap" rel="stylesheet">
  
  <link th:href="@{/css/header.css}" rel="stylesheet" />
	<link th:href="@{/css/pwdChangeForm.css}" rel="stylesheet" />
  <link th:href="@{/css/footer.css}" rel="stylesheet" />
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
	<script th:inline="javascript">
    if ([[${ changePwdFailed }]]) {
      alert([[${ exception }]])
    }
  </script>
  
	<section>
		<form method="post" name="change_pwd_form" action="/user/my/changePwd" onsubmit="return ck_form()">
			<div id="resetPwdWrap">
				<img src="/images/lock.svg" id="lockImg"/>
				<div id="resetPwdTit">비밀번호 재설정</div>
				<div id="resetPwdSubTit">비밀번호를 변경하여 개인정보를 보호하세요.</div>
				
				<div id="currentPwdTit">현재 비밀번호</div>
				<input type="password" id="currentPwdText" name="oldPwd" placeholder="현재 비밀번호">
				
				<div id="newPwdTit">새 비밀번호</div>
				<input type="password" id="newPwdText" name="newPwd" placeholder="새 비밀번호">
				
				<div id="newPwdCheckTit">새 비밀번호 확인</div>
				<input type="password" id="newPwdCheckText" name="newPwdCk" placeholder="새 비밀번호 확인">
		
				<div id="resetPwdBtnWrap">
					<input class="resetPwdBtn" id="resetPwdBtn" type="submit" value="비밀번호 변경" />
					<input class="cancelBtn" id="cancelBtn" type="button" onclick="location.href='/user/my'" value="취소" />
				</div>
			</div>
		</form>
	</section>
	
	<script src="/javascript/pwdChangeForm.js"></script>
	<script src="/javascript/alert.js"></script>
</body>
</html>