<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/default_layout}">
<head>
	<meta charset="UTF-8">
	<title>회원탈퇴</title>
	
	<link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Yellowtail&display=swap" rel="stylesheet">
  
  <link th:href="@{/css/header.css}" rel="stylesheet" />
	<link th:href="@{/css/resignForm.css}" rel="stylesheet" />
  <link th:href="@{/css/footer.css}" rel="stylesheet" />
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
	<script th:inline="javascript">
    if ([[${ resignFailed }]]) {
      alert([[${ exception }]])
    }
  </script>
  
	<th:block layout:fragment="header" th:include="@{/fragments/header}"></th:block>
	
	<section>
		<form method="post" name="secession_form" action="/user/resign" onsubmit="return ck_form()">
			<div id="secessionWrap">
				<img src="/images/secession.svg" id="secessionImg"/>
				<div id="secessionTit">회원탈퇴</div>
				<div id="secessionSubTit">그동안 서비스를 이용해 주셔서 감사합니다.</div>
				
				<div id="secessionPwdTit">비밀번호 확인</div>
				<input type="password" id="secessionPwdText" name="oldPwd" placeholder="비밀번호 확인">
				
				<div id="secessionWarningWrap">
					<img src="/images/warning.svg" id="secessionWarningImg"/>
					<div id="secessionWarning">탈퇴 후 학교측에 전달하는 상담기록을 제외한 회원정보 및 서비스 이용 기록이 삭제되며 복구가 불가능합니다.</div>
				</div>
				
				<div id="secessionBtnWrap">
					<input class="secessionBtn" id="secessionBtn" type="submit" value="회원탈퇴" />
					<input class="cancelBtn" id="cancelBtn" type="button" onclick="location.href='/user/my'" value="취소" />
				</div>
			</div>
		</form>
	</section>
	
	<th:block layout:fragment="footer" th:include="@{/fragments/footer}"></th:block>	
	
	<script src="/javascript/resignForm.js"></script>
	<script src="/javascript/alert.js"></script>
</body>
</html>