<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/default_layout}">

<head>
  <meta charset="UTF-8">
  <title>myInfo</title>
  <link rel="stylesheet" href="/css/header_bootstrap.css" />
  <link rel="stylesheet" href="/css/userInfoView.css" />
  <link href="https://fonts.googleapis.com/css2?family=Yellowtail&display=swap" rel="stylesheet">
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="/myPage/js/profInfo.js"></script>
</head>

<body>
  <th:block layout:fragment="header" th:include="@{/fragments/header}"></th:block>
  <div layout:fragment="content" class="content">
    <div id="navWrap">
      <div id="navL">
        <div id="navLTit"></div>
        <div id="navListWrap">
          <div id="userImgWrap"></div>
          <div id="profMfName" th:text="${member.name}"></div>
          <div id="navList" th:text="'00대학교 ' + ${member.deptInfo.collegeInfo.collegeName}"></div>
          <div id="profDataMfBtnWrap">
            <button id="backBtn" onClick="location.href='/user/my'">닫기</button>
          </div>
        </div>
      </div>

      <div id="navR">
        <div id="navRTit">내 정보</div>
        <div id="navRContentWrap">
          <div id="profNameMfWrap">
            <div id="profNameMfTit">이름</div>
            <div id="profNameMfText" th:text="${member.name}"></div>
          </div>
          <div id="profDeptMfWrap">
            <div id="profDeptMfTit">학과</div>
            <div id="profDeptMfText" th:text="${member.deptInfo.deptName}"></div>
          </div>
          <div id="profLocationMfWrap" th:if="${session.role == 0}">
            <div id="profLocationContentWrap">
              <div id="profLocationMfTit">연구실 위치</div>
              <button id="modifyBtn" onClick="profLocationMfBtn()">수정</button>
            </div>
            <div id="profLocationMfText" th:text="${member.profInfo.officeNo}"></div>
          </div>
          <div id="profEmailMfWrap">
            <div id="profEmailContentWrap">
              <div id="profEmailMfTit">이메일</div>
              <button id="modifyBtn" onClick="emailMfBtn()">수정</button>
            </div>
            <div id="profEmailMfText" th:text="${member.email}"></div>
          </div>
          <div id="profMajorMfWrap" th:if="${session.role == 0}">
            <div id="profMajorContentWrap">
              <div id="profMajorMfTit">전공</div>
              <button id="modifyBtn" onClick="majorMfBtn()">수정</button>
            </div>
            <div id="profMajorMfText" th:text="${member.profInfo.major}"></div>
          </div>
          <div id="profSubjectMfWrap" th:if="${session.role == 0}">
            <div id="profSubjectContentWrap">
              <div id="profSubjectMfTit">담당과목</div>
              <button id="modifyBtn" onClick="subjectAddBtn()">추가</button>
            </div>
            <div id="profSubjectMfText">
                <div th:id="${course.courseNo}" th:each="course : ${member.profInfo.courses}">
                   [[${course.title}]] &nbsp;<a id="rejectBtn" onClick="classRemoveBtn()">x</a>
                </div>
            </div>
          </div>
          <div id="profAbleTimeMfWrap" th:if="${session.role == 0}">
            <div id="profAbleTimeContentWrap">
              <div id="profAbleTimeMfTit">상담 가능 시간</div>
              <button id="modifyBtn" onClick="profAbleTimeAddBtn()">추가</button>
            </div>
            <div id="profAbleTimeMfText">
            	<div th:each="consultableTime : ${member.profInfo.consultableTimes}">
            		<span th:if="${consultableTime.ableDate == 0}">일</span>
            		<span th:if="${consultableTime.ableDate == 1}">월</span> 
            		<span th:if="${consultableTime.ableDate == 2}">화</span> 
            		<span th:if="${consultableTime.ableDate == 3}">수</span> 
            		<span th:if="${consultableTime.ableDate == 4}">목</span> 
            		<span th:if="${consultableTime.ableDate == 5}">금</span> 
            		<span th:if="${consultableTime.ableDate == 6}">토</span> 
            		[[${consultableTime.ableTime}]] &nbsp;
            		<a id="rejectBtn" onClick="|profAbleTimeRemoveBtn(${consultableTime.ableDate})|">x</a>
              </div>
            </div>
          </div>
        </div>
        <div id="blank"></div>
      </div>
    </div>
  </div>
  <th:block layout:fragment="footer" th:include="@{/fragments/footer}"></th:block>
</body>

</html>