<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/default_layout}">

<head>
  <meta charset="UTF-8">
  <title>myInfo</title>
  <link rel="stylesheet" href="/css/header_bootstrap.css" />
  <link rel="stylesheet" href="/css/userInfoView.css" />
  <link href="https://fonts.googleapis.com/css2?family=Yellowtail&display=swap" rel="stylesheet">
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="/myPage/js/profInfo.js"></script>
</head>

<body>
  <th:block layout:fragment="header" th:include="@{/fragments/header}"></th:block>
  <div layout:fragment="content" class="content">
    <div id="navWrap">
      <div id="navL">
        <div id="navLTit"></div>
        <div id="navListWrap">
          <div id="userImgWrap"></div>
          <div id="profMfName" th:text="${member.name}"></div>
          <div id="navList" th:text="'00대학교 ' + ${member.deptInfo.collegeInfo.collegeName}"></div>
          <div id="profDataMfBtnWrap">
            <button id="backBtn" onClick="location.href='/user/my'">닫기</button>
          </div>
        </div>
      </div>

      <div id="navR">
        <div id="navRTit">내 정보</div>
        <div id="navRContentWrap">
          <div id="profNameMfWrap">
            <div id="profNameMfTit">이름</div>
            <div id="profNameMfText">${param.name}</div>
          </div>
          <div id="profDeptMfWrap">
            <div id="profDeptMfTit">학과</div>
            <div id="profDeptMfText">${param.dept}</div>
          </div>
          <div id="profMajorMfWrap">
            <div id="profMajorContentWrap">
              <div id="profMajorMfTit">전공</div>
              <button id="modifyBtn" onClick="majorMfBtn()">수정</button>
            </div>
            <div id="profMajorMfText">${param.major}</div>
          </div>
          <div id="profSubjectMfWrap">
            <div id="profSubjectContentWrap">
              <div id="profSubjectMfTit">담당과목</div>
              <button id="modifyBtn" onClick="subjectAddBtn()">추가</button>
            </div>
            <div id="profSubjectMfText">
              <c:forEach items="${courses}" var="list">
                <c:if test="${list.course_by_prof != null}">
                  <div id="${list.course_id}">
                    ${list.course_by_prof} &nbsp;<a id="rejectBtn" onClick="classRemoveBtn()">x</a>
                  </div>
                </c:if>
              </c:forEach>
            </div>
          </div>
          <div id="profEmailMfWrap">
            <div id="profEmailContentWrap">
              <div id="profEmailMfTit">이메일</div>
              <button id="modifyBtn" onClick="emailMfBtn()">수정</button>
            </div>
            <div id="profEmailMfText">${param.email}</div>
          </div>
          <div id="profLocationMfWrap">
            <div id="profLocationContentWrap">
              <div id="profLocationMfTit">연구실 위치</div>
              <button id="modifyBtn" onClick="profLocationMfBtn()">수정</button>
            </div>
            <div id="profLocationMfText">${param.office}</div>
          </div>
          <div id="profAbleTimeMfWrap">
            <div id="profAbleTimeContentWrap">
              <div id="profAbleTimeMfTit">상담 가능 시간</div>
              <button id="modifyBtn" onClick="profAbleTimeAddBtn()">추가</button>
            </div>
            <div id="profAbleTimeMfText">
              <c:forEach items="${consultable_times}" var="list">
                <c:choose>
                  <c:when test="${list.able_date == 0}">
                    <div id="0">
                      일 ${list.able_time} &nbsp;<a id="rejectBtn" onClick="profAbleTimeRemoveBtn()">x</a>
                    </div>
                  </c:when>
                  <c:when test="${list.able_date == 1}">
                    <div id="1">
                      월 ${list.able_time} &nbsp;<a id="rejectBtn" onClick="profAbleTimeRemoveBtn()">x</a>
                    </div>
                  </c:when>
                  <c:when test="${list.able_date == 2}">
                    <div id="2">
                      화 ${list.able_time} &nbsp;<a id="rejectBtn" onClick="profAbleTimeRemoveBtn()">x</a>
                    </div>
                  </c:when>
                  <c:when test="${list.able_date == 3}">
                    <div id="3">
                      수 ${list.able_time} &nbsp;<a id="rejectBtn" onClick="profAbleTimeRemoveBtn()">x</a>
                    </div>
                  </c:when>
                  <c:when test="${list.able_date == 4}">
                    <div id="4">
                      목 ${list.able_time} &nbsp;<a id="rejectBtn" onClick="profAbleTimeRemoveBtn()">x</a>
                    </div>
                  </c:when>
                  <c:when test="${list.able_date == 5}">
                    <div id="5">
                      금 ${list.able_time} &nbsp;<a id="rejectBtn" onClick="profAbleTimeRemoveBtn()">x</a>
                    </div>
                  </c:when>
                  <c:otherwise>
                    <div id="6">
                      토 ${list.able_time} &nbsp;<a id="rejectBtn" onClick="profAbleTimeRemoveBtn()">x</a>
                    </div>
                  </c:otherwise>
                </c:choose>
              </c:forEach>
            </div>
          </div>
        </div>
        <div id="blank"></div>
      </div>
    </div>
  </div>
  <th:block layout:fragment="footer" th:include="@{/fragments/footer}"></th:block>
</body>

</html>