<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/default_layout}">
<th:block layout:fragment="head">
  <meta charset="UTF-8">
  <title>예약</title>
  <link th:href="@{/css/header.css}" rel="stylesheet" />
  <link th:href="@{/css/reservationForm.css}" rel="stylesheet" />
  <link th:href="@{/css/footer.css}" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.css">
  <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/locales-all.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Yellowtail&display=swap" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBWxzUNzX_Sy9rtcbIxP0WhUfXSBGNqzU4&v=3.exp&region=KR"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  
  <script th:inline="javascript">
    var today = new Date();
		var year = today.getFullYear();
		var profId = [[${ profId }]];
		var consultableTimes = [[${ consultableTimes }]];
		var reservations = [[${ reservations }]];
		var coordinates = [[${ coordinates }]];
		var reservationInfo = [[${ reservation }]]; // 수정할 예약정보

		$(function() {
			$("#choiceDate").datepicker({
				dateFormat: 'yy-mm-dd' //달력 날짜 형태
					,yearRange: year + ":" + (year + 1)
					,showOtherMonths: true //빈 공간에 현재월의 앞뒤월의 날짜를 표시
					,showMonthAfterYear:true // 월- 년 순서가아닌 년도 - 월 순서
		            ,changeYear: true //option값 년 선택 가능
		            ,changeMonth: true //option값  월 선택 가능                       
		            ,yearSuffix: "년" //달력의 년도 부분 뒤 텍스트
		            ,monthNamesShort: ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'] //달력의 월 부분 텍스트
		            ,monthNames: ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'] //달력의 월 부분 Tooltip
		            ,dayNamesMin: ['일','월','화','수','목','금','토'] //달력의 요일 텍스트
		            ,dayNames: ['일요일','월요일','화요일','수요일','목요일','금요일','토요일'] //달력의 요일 Tooltip
		            ,minDate: "+1D" //최소 선택일자(-1D:하루전, -1M:한달전, -1Y:일년전)
		            ,maxDate: "+30D" //최대 선택일자(+1D:하루후, -1M:한달후, -1Y:일년후)
		            ,beforeShowDay: disableAllTheseDays
		            ,onSelect: calendarChoiceDate
			});                    
			
			// 예약정보가 있다면 예약일을 선택하도록 설정
			if (reservationInfo != null) {
				$('#choiceDate').datepicker('setDate', reservationInfo['startDate']);
				calendarChoiceDate();
			}
		});
		
		// 특정일 선택막기
		var disabledDays = [];
		var flag;
		for (var i = 0; i < 7; i++) {
			flag = 1;
			for (key in consultableTimes) {
				if (consultableTimes[key].ableDate == i) {
					flag = 0;
				}
			}
			if (flag == 1) {
				disabledDays.push(i);
			}
		}
	    
    function disableAllTheseDays(date) {
        for (var i = 0; i < disabledDays.length; i++) {
            if($.inArray(date.getDay(), disabledDays) != -1) {
                return [false];
            }
        }
        return [true];
    }
  </script>
  
  <style>
		#officeMapWrap {
			margin-top: 40px;
		}
		
		#officeMapTit {
			display: flex;
			align-items: center;
			padding-left: 20px;
			font-size: 14px;
			height: 40px;
			background-color: white;
			border: 1px solid #EAEAEA;
		}
		
		#office_map {
			border: 1px solid #EAEAEA;
		}
		
		#pickPeriodInner {
			width: 100%;
			text-align: center;
		}
		
		#choiceDate {
			width: 208px;
			text-align: center;
			border: none;
			cursor: pointer;
		}
		
		#navWrap {
		    padding-top: 80px;
		    display: flex;
		    justify-content: space-between;
		    margin: 0 auto;
		    width: 1194px;
		    height: 1200px;
		}
		
		.reservationBtn {
		    margin-top: 20px;
		    margin-left: 20px;
		    float: right;
		    display: block;
		    padding: 10px 20px;
		    border-radius: 5px;
		    color: #1abc9c;
		    background-color: white;
		    border: none;
		    border: 1px solid #1abc9c;
		}
	</style>
</th:block>

<body>
<th:block layout:fragment="header" th:include="@{/fragments/header}"></th:block>
	<form action="reservate" method="post" name="reservation_form" onsubmit="return ck_reservation_form()">
		<input type="hidden" name="profId" th:value="${profId}">
		<div id="navWrap">
			<div id="navL">
				<div id="navLTit">상담예약</div>
				<div id="navListWrap">
					<div class="navListName">교수명</div>
					<div th:text="${professorInfo.member.name}" class="navList" id="name">교수명</div>
					<div class="navListName">학과</div>
					<div th:text="${professorInfo.member.deptInfo.deptName}" class="navList" id="dept">학과</div>
					<div class="navListName">전공</div>
					<div th:text="${professorInfo.major}" class="navList" id="major">전공</div>
					<div class="navListName">담당과목</div>
					<div th:each="course : ${professorInfo.courses}" th:text="${course.title}" class="navList" id="course">담당과목</div>
					<div class="navListName">이메일</div>
					<div th:text="${professorInfo.member.email}" class="navList" id="email">이메일</div>
					<div class="navListName">연구실 위치</div>
					<div th:text="${professorInfo.officeNo}" class="navList" id="office">연구실 위치</div>
				</div>
				
				<div id="officeMapWrap">
					<div id="officeMapTit">연구실 위치 지도</div>
					<div id="office_map"></div>
				</div>
			</div>

			<div id="navR">
				<div id="navRTit">상담 날짜 선택</div>
				<div id="navRContentWrap">
					<div id="pickPeriodWrap">
		                <div id="pickPeriodInner">
		                    <input type="text" name="choiceDate" id="choiceDate" placeholder="🗓 원하시는 날짜를 선택해주세요." onfocus="this.blur()" />
		                </div>
	            	</div>
				</div>

				<div id="navRTit">상담 시간 선택</div>
				<div id="navRContentWrap">
					<div id="timeBoxesWrap">
						<div class="timeTitle" id="startTimeTitle">
							<span style="color: #1abc9c;">◈</span> 상담 시작 시간
						</div>
						<div>
							<div class="timeBoxWrap">
								<div class="startTimeBox" id="09:00">
									<a>09:00</a>
								</div>
								<div class="startTimeBox" id="10:00">
									<a>10:00</a>
								</div>
								<div class="startTimeBox" id="11:00">
									<a>11:00</a>
								</div>
							</div>
							<div class="timeBoxWrap">
								<div class="startTimeBox" id="12:00">
									<a>12:00</a>
								</div>
								<div class="startTimeBox" id="13:00">
									<a>13:00</a>
								</div>
								<div class="startTimeBox" id="14:00">
									<a>14:00</a>
								</div>
							</div>
							<div class="timeBoxWrap">
								<div class="startTimeBox" id="15:00">
									<a>15:00</a>
								</div>
								<div class="startTimeBox" id="16:00">
									<a>16:00</a>
								</div>
								<div class="startTimeBox" id="17:00">
									<a>17:00</a>
								</div>
							</div>
						</div>
						<br />
						<div class="timeTitle" id="timeTitle">
							<span style="color: #1abc9c;">◈</span> 상담 시간
						</div>
						<div class="timeBoxWrap">
							<div class="timeBox" id="1h">
								<a>1시간</a>
							</div>
							&nbsp;&nbsp;
							<div class="timeBox" id="2h">
								<a>2시간</a>
							</div>
						</div>
					</div>
				</div>

				<div id="navRTit">상담 신청 사유</div>
				<div id="navRContentWrap">
					<div id="reasonWrap">
						<div>
							<input id="radio1" type="radio" name="radio" value="1"
								checked="checked"><label for="radio1">전담 교수 상담</label>
						</div>
						<div>
							<input id="radio2" type="radio" name="radio" value="2"><label
								for="radio2">진로 상담</label>
						</div>
						<div>
							<input id="radio3" type="radio" name="radio" value="3"><label
								for="radio3">휴학 상담</label>
						</div>
						<div>
							<input id="radio4" type="radio" name="radio" value="4"><label
								for="radio4">대학원 상담</label>
						</div>
						<div>
							<input id="radio5" type="radio" name="radio" value="5"><label
								for="radio5">기타:</label> <input type="text"
								placeholder="내용을 적어주세요." id="anotherReason">
						</div>
					</div>
				</div>

				<div id="navRTit">상담 유형</div>
				<div id="navRContentWrap">
					<div class="typeBtnWrap">
						<div id="typeBtnOff" class="typeBtn"><a>오프라인</a></div>
						<div id="typeBtnOn" class="typeBtn"><a>온라인</a></div>
					</div>
				</div>

				<div>
					<input class="reservationBtn" type="submit" value="예약하기" />
				</div>
				<div id="blank"></div>
			</div>
		</div>
	</form>
	<th:block layout:fragment="footer" th:include="@{/fragments/footer}"></th:block>
	
	<script src="/javascript/reservationForm.js"></script>
	<script src="/javascript/alert.js"></script>
</body>
</html>