<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<header>
  <div>
    <div id="logo" onclick="location.href='/home'">MEETU</div>

    <ul id="gnb">
      <li><a href="#">공지사항</a></li>
      <li><a href="/consult/professorSearch">상담예약</a></li>
      <li><a href="/user/message">쪽지함</a></li>
    </ul>

    <div id="subGnb">
      <div id="dropdown">
        <div id="dropdownBtn"><span th:text="${session.name}"></span>님 😊</div>
        <div id="dropdownContent">
          <a href="/user/my">마이페이지</a>
          <a href="/user/logout">로그아웃</a>
        </div>
      </div>
      
      <img src="/images/bell.svg" id="noticeOnImg"/>
      <div id="noticeCount" onclick="readNewAlerts()">0</div>
    </div>
  </div>
</header>

</html>