body {
  background-color: #fafafa;
}

section {
  width: 500px;
  margin: 180px auto;
}

#logo {
  margin-bottom: 40px;
  text-align: center;
  font-size: 48px;
  font-family: 'Yellowtail', cursive;
  font-weight: bold;
  color: #1abc9c;
  cursor: pointer;
}

#memberNo,
#password,
#passwordCk {
  margin: 10px 0px 20px 0px;
  padding-left: 20px;
  width: 480px;
  height: 38px;
  border: 1px solid #dddddd;
  border-radius: 5px;
  font-size: 14px;
}

#memberNo:focus,
#password:focus,
#passwordCk:focus {
  outline-color: #1abc9c;
}

#joinBtn {
  margin: 20px auto;
  width: 500px;
  height: 40px;
  background: #1abc9c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
