@charset "UTF-8";

input[type=checkbox]:not(old),
input[type=radio   ]:not(old) {
    width: 28px;
    margin: 0;
    padding: 0;
    opacity: 0;
}

input[type=checkbox]:not(old) + label,
input[type=radio   ]:not(old) + label {
    display: inline-block;
    margin-left: -28px;
    padding-left: 28px;
    background: url('../images/checkImg.svg') no-repeat 0 0;
    line-height: 24px;
}

input[type=checkbox]:not(old):checked + label {
    background-position: 0 -24px;
}

input[type=radio]:not(old):checked + label {
    background-position: 0 -48px;
}
		
#joinWrap {
    width: 500px;
    margin: 180px auto;
}

#loginTitle {
    margin-bottom: 40px;
    text-align: center;
    font-size: 48px;
    font-family: 'Yellowtail', cursive;
    font-weight: bold;
    color: #1abc9c;
}

#loginTitle:hover {
    cursor: pointer;
}

#bodyBg {
    background: #FAFAFA;
}

#id,
#pwd {
    background: white;
}

#login_btn {
    margin: 30px auto;
    display: block;
    width: 500px;
    height: 40px;
    background: #1abc9c;;
    color: white;
    border: none;
    border-radius: 5px;
}

#login_btn:hover {
    cursor: pointer;
}

#account {
    margin: 30px 0 20px 0;
}

#link {
    color: #007BFF;
}

#link:hover {
    cursor: pointer;
    text-decoration: underline;
}

#position {
    margin-bottom: 30px;
}

#login_btn:focus {
	outline: none;
}