@charset "UTF-8";

ul,
li {
  text-decoration: none;
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

#navWrap {
  width: 1194px;
  margin: 0 auto;
  margin-top: 80px;
}

a {
  text-decoration: none;
}

#navInnerWrap {
  display: block;
}

#navSub {
  width: 816px;
  display: block;
}

#myPageBodyBg {
  background: #fafafa;
}

#cardWrap {
  width: 318px;
  height: 500px;
  border-radius: 5px;
}

.boardListWrap {
  width: 816px;
  margin: 0 auto;
  border: 1px solid #eaeaea;
  border-radius: 5px;
}

.boardListWrap th,
.boardListWrap td {
  padding: 10px;
  font-size: 14px;
}

.boardListWrap td,
th {
  text-align: center;
}

#deleteBtn:hover,
#editBtn:hover,
#cancelBtn:hover,
#rejectMessageBtn:hover,
#messageBtn:hover {
  cursor: pointer;
}

a:link {
  color: #3e454d;
  text-decoration: none;
}

a:visited {
  color: #3e454d;
  text-decoration: none;
}

a:hover {
  color: #3e454d;
  text-decoration: underline;
}

#editBtn,
#cancelBtn,
#rejectMsgBtn,
#msgBtn,
#approvalBtn,
#rejectBtn,
#consultedBtn,
#consultationRecordBtn {
  cursor: pointer;
}

#approvalBtn,
#editBtn,
#rejectMsgBtn {
  padding: 4px 12px;
  border-radius: 30px;
  background: #ee6868;
  color: white;
  border: none;
  cursor: pointer;
}

#rejectBtn,
#cancelBtn {
  padding: 4px 12px;
  border-radius: 30px;
  background: #6885ee;
  color: white;
  border: none;
  cursor: pointer;
}

#msgBtn {
  padding: 4px 12px;
  border-radius: 30px;
  background: #eeb868;
  color: white;
  border: none;
  cursor: pointer;
}

#consultedBtn,
#consultationRecordBtn {
  padding: 4px 12px;
  border-radius: 30px;
  background: #eeb868;
  color: white;
  border: none;
  cursor: pointer;
}

#thBorder th {
  text-align: center;
}

ul,
li {
  text-decoration: none;
  list-style: none;
}

#searchWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  float: right;
  padding: 0px 8px;
  width: 260px;
  height: 34px;
  border-bottom: 1px solid #eaeaea;
  border-radius: 50px;
  background: #ffffff;
}

#searchText {
  font-size: 12px;
  width: 120px;
  padding-left: 4px;
  border: 0px;
  outline: none;
  float: left;
  border-radius: 30px;
}

#searchBtn {
  width: 20px;
  height: 20px;
  border: none;
  outline: none;
  float: right;
}

#searchBtn:hover {
  cursor: pointer;
}

#navBox {
  height: 80px;
  border: none;
}

#navListWrap {
  width: 317px;
  border-bottom: 1px solid #eaeaea;
  border-left: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea;
  background: white;
  border-radius: 5px;
}

#logoutBtnWrap {
  display: flex;
  align-items: center;
  width: 316px;
  height: 60px;
  margin-top: 40px;
  padding-bottom: 20px;
  font-size: 14px;
}

#userImgWrap {
  display: flex;
  align-items: center;
  width: 316px;
  height: 180px;
  font-size: 14px;
}

#navListSub {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 316px;
  height: 40px;
  font-size: 14px;
  border-top: 1px solid #eaeaea;
  border-radius: 5px 5px 0px 0px;
}

#navListName {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 316px;
  height: 40px;
  font-size: 14px;
}

#navList {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 316px;
  height: 40px;
  font-size: 14px;
}

#navListOn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 316px;
  height: 40px;
  font-size: 14px;
  background: #1abc9c;
  color: white;
}

#navLTit {
  display: flex;
  width: 100%;
  height: 40px;
  font-size: 24px;
  margin-bottom: 40px;
}

#noticeIcon:hover,
#reserveIcon:hover,
#messageIcon:hover {
  cursor: pointer;
}

#noticeIcon,
#reserveIcon,
#messageIcon {
  color: black;
}

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: none;
}

#title,
#title a:link,
#title a:visited,
#title a:hover {
  color: #1abc9c;
}

#header {
  width: 100%;
  height: 80px;
  background: white;
  border-bottom: 1px solid #eaeaea;
}

#headerInner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 1194px;
  height: 100%;
}

#headerInnerL {
  display: flex;
  align-items: center;
}

#title {
  font-family: 'Yellowtail', cursive;
  font-size: 18px;
  font-weight: bold;
}

#gnb {
  margin-left: 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  font-size: 14px;
}

#headerInnerR {
  display: flex;
  align-items: center;
}

#dropdown {
  position: relative;
  display: inline-block;
  font-size: 14px;
  padding: 14px;
}

#dropdown-button div {
  justify-content: flex-end;
}

#dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  margin-top: 14px;
  min-width: 130px;
  padding: 4px;
  border-radius: 5px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

#dropdown-content a {
  color: black;
  padding: 8px;
  text-decoration: none;
  display: block;
}

#dropdown-content a:hover {
  background-color: #fafafa;
  border-radius: 5px;
}

#dropdown:hover #dropdown-content {
  display: block;
}

#headerInnerR img {
  margin-left: 60px;
}

#noticeImg {
  width: 14px;
  height: 14px;
}

#noticeImg:hover {
  cursor: pointer;
}

#logoutBtn {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 40px;
  border: 1px solid #1abc9c;
  border-radius: 5px;
  color: #1abc9c;
  background: white;
}

#logoutBtn:hover {
  background: #1abc9c;
  color: white;
  border: 1px solid #1abc9c;
  cursor: pointer;
}

#profInfoBtn {
  padding: 4px 10px;
  border-radius: 50px;
  background: #f1f1f1;
  color: #c4c4c4;
  border: 1px solid #eaeaea;
}

#profInfoBtn:hover {
  cursor: pointer;
}

#moreImg {
  width: 20px;
  height: 20px;
}

.nav-pills > .nav-item > .active {
  background: #1abc9c;
}

#blankDiv {
  width: 60px;
}

a,
a:link,
a:visited,
a:hover {
  color: black;
  text-decoration: none;
}

#noticeCount {
  position: relative;
  right: 12px;
  top: -3px;
  font-size: 12px;
  color: white;
}

#noticeImg {
  width: 20px;
  height: 20px;
}

#noticeOnImg {
  cursor: pointer;
  width: 24px;
  height: 20px;
}

#accountWrap {
  display: none;
  margin-top: 40px;
  width: 316px;
  height: 120px;
  background: white;
  border-radius: 5px;
  border: 1px solid #eaeaea;
}

#accountTit {
  display: flex;
  align-items: center;
  padding-left: 20px;
  width: 296px;
  height: 40px;
  font-size: 18px;
}

#resetPwdDiv {
  display: flex;
  align-items: center;
  padding-left: 20px;
  width: 316px;
  height: 40px;
  font-size: 14px;
}

#secessionDiv {
  display: flex;
  align-items: center;
  padding-left: 20px;
  width: 316px;
  height: 40px;
  font-size: 14px;
  color: red;
}

#resetPwdDiv,
#secessionDiv {
  cursor: pointer;
}

#toggle {
  width: 100%;
  border-top: 1px solid #eaeaea;
}

#toggle:hover {
  cursor: pointer;
}

#toggleImg {
  display: block;
  margin: 0px auto;
  width: 20px;
  heihgt: 20px;
}

#profInfoBtn:focus {
  outline: none;
}

#moreImg:hover {
  cursor: pointer;
}

#footer {
  display: flex;
  margin-top: 600px;
  margin: 0 auto;
  width: 100%;
  height: 200px;
  background: #ededed;
  justify-content: center;
  align-items: center;
  color: #535353;
}

#cancelBtn:focus,
#editBtn:focus,
#rejectMsgBtn:focus,
#msgBtn:focus,
#approvalBtn:focus,
#rejectBtn:focus,
#consultedBtn:focus,
#consultationRecordBtn:focus {
  outline: none;
}
