body {
  background-color: #fafafa;
}

section {
  display: flex;
  justify-content: space-between;
  margin: 80px auto;
  width: 1194px;
}

#userInfoWrap {
  width: 318px;
}

#tit {
  margin-bottom: 60px;
  font-size: 24px;
}

#userInfo {
  width: 100%;
  background-color: white;
  border: 1px solid #eaeaea;
}

#userImg {
  margin-top: 40px;
  width: 100%;
}

#name {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  font-size: 14px;
}

#infoBtnWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  font-size: 14px;
}

#infoBtn {
  width: 80px;
  height: 34px;
  border-radius: 100px;
  border: 1px solid #dddddd;
  color: #c4c4c4;
  cursor: pointer;
}

/* 수정해야 할 부분 */

#toggle {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20px;
  border-top: 1px solid #eaeaea;
}

#toggle:hover {
  cursor: pointer;
}

#toggleImg {
  display: block;
  margin: 0px auto;
  width: 20px;
  height: 20px;
}

#accountWrap {
  display: none;
  margin-top: 40px;
  width: 316px;
  height: 120px;
  background: white;
  border: 1px solid #eaeaea;
}

#accountTit {
  display: flex;
  align-items: center;
  padding-left: 20px;
  width: 296px;
  height: 40px;
  font-size: 18px;
}

#resetPwdDiv {
  display: flex;
  align-items: center;
  padding-left: 20px;
  width: 316px;
  height: 40px;
  font-size: 14px;
  cursor: pointer;
}

#secessionDiv {
  display: flex;
  align-items: center;
  padding-left: 20px;
  width: 316px;
  height: 40px;
  font-size: 14px;
  color: red;
  cursor: pointer;
}

/* 탭 전체 스타일 */
.tabs {
  width: 816px;
}

/* 탭 스타일 */
.tab_item {
  margin-bottom: 48px;
  width: calc(60% / 4);
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  text-align: center;
  color: #333333;
  display: block;
  float: left;
  text-align: center;
  transition: all 0.2s ease;
  cursor: pointer;
}

.tab_item:hover {
  opacity: 0.75;
}

/* 라디오 버튼 UI삭제*/
input[name='tab_item'] {
  display: none;
}

/* 탭 컨텐츠 스타일 */
.tab_content {
  display: none;
  clear: both;
  overflow: hidden;
  background-color: white;
  border: 1px solid #eaeaea;
}

/* 선택 된 탭 콘텐츠를 표시 */
#rezStatus:checked ~ #rezStatus_content,
#rezCancel:checked ~ #rezCancel_content,
#rezConfirmation:checked ~ #rezConfirmation_content,
#consulCompleted:checked ~ #consulCompleted_content {
  display: block;
}

/* 선택된 탭 스타일 */
.tabs input:checked + .tab_item {
  background-color: #1abc9c;
  color: #fff;
  border-radius: 5px;
}

#searchWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  float: right;
  padding: 0px 8px;
  width: 260px;
  height: 40px;
  border-bottom: 1px solid #eaeaea;
  border-radius: 50px;
  background: #ffffff;
}

#searchText {
  font-size: 14px;
  width: 120px;
  padding-left: 4px;
  border: 0px;
  outline: none;
  float: left;
  border-radius: 30px;
}

#searchBtn {
  width: 20px;
  height: 20px;
  border: none;
  outline: none;
  float: right;
}

#searchBtn:hover {
  cursor: pointer;
}

.boardListWrap {
  width: 816px;
  margin: 0 auto;
  border-radius: 5px;
}

.boardListWrap th,
.boardListWrap td {
  padding: 10px;
  font-size: 14px;
}

.boardListWrap td,
th {
  text-align: center;
}

#deleteBtn:hover,
#editBtn:hover,
#cancelBtn:hover,
#rejectMessageBtn:hover,
#messageBtn:hover {
  cursor: pointer;
}

a:link {
  color: #3e454d;
  text-decoration: none;
}

a:visited {
  color: #3e454d;
  text-decoration: none;
}

a:hover {
  color: #3e454d;
  text-decoration: underline;
}

#editBtn,
#cancelBtn,
#rejectMsgBtn,
#msgBtn,
#approvalBtn,
#rejectBtn,
#consultedBtn,
#consultationRecordBtn {
  cursor: pointer;
}

#approvalBtn,
#editBtn,
#rejectMsgBtn {
  padding: 4px 12px;
  border-radius: 30px;
  background: #ee6868;
  color: white;
  border: none;
  cursor: pointer;
}

#rejectBtn,
#cancelBtn {
  padding: 4px 12px;
  border-radius: 30px;
  background: #6885ee;
  color: white;
  border: none;
  cursor: pointer;
}

#msgBtn {
  padding: 4px 12px;
  border-radius: 30px;
  background: #eeb868;
  color: white;
  border: none;
  cursor: pointer;
}

#consultedBtn,
#consultationRecordBtn {
  padding: 4px 12px;
  border-radius: 30px;
  background: #eeb868;
  color: white;
  border: none;
  cursor: pointer;
}

#thBorder th {
  text-align: center;
}
