@charset "UTF-8";

section {
  margin-top: 140px;
}

#resetPwdWrap {
  margin: 0 auto;
  width: 500px;
}

#resetPwdBg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #fafafa;
}

#lockImg {
  display: block;
  margin: 0 auto;
}

#resetPwdTit {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
}

#resetPwdSubTit {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
  color: #c4c4c4;
  font-size: 14px;
}

#currentPwdTit,
#newPwdTit,
#newPwdCheckTit {
  font-size: 14px;
  margin-bottom: 10px;
}

#currentPwdText,
#newPwdText,
#newPwdCheckText {
  margin: 0 auto;
  margin-bottom: 20px;
  padding-left: 10px;
  width: 490px;
  height: 40px;
  border: 1px solid #eaeaea;
  border-radius: 5px;
}

#currentPwdText:focus,
#newPwdText:focus,
#newPwdCheckText:focus {
  outline: 1px solid #1abc9c;
  border-radius: 5px;
}

#resetPwdBtnWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
  width: 500px;
}

#resetPwdBtn {
  width: 220px;
  height: 40px;
  background: #1abc9c;
  color: white;
  border-radius: 5px;
  border: none;
}

#cancelBtn {
  width: 220px;
  height: 40px;
  background: #dfdfdf;
  color: white;
  border-radius: 5px;
  border: none;
}

#resetPwdBtn:hover,
#cancelBtn:hover {
  cursor: pointer;
}

#resetPwdBtn:focus,
#cancelBtn:focus {
  outline: none;
}
