body {
  background-color: #fafafa;
}

section {
  display: flex;
  justify-content: space-between;
  margin: 80px auto;
  width: 1194px;
  height: 700px;
}

#userInfoWrap {
  width: 318px;
}

#tit {
  margin-bottom: 60px;
  font-size: 24px;
}

#userInfo {
  width: 100%;
  background-color: white;
  border: 1px solid #eaeaea;
}

#userImg {
  margin-top: 40px;
  width: 100%;
}

#name,
#univName {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  font-size: 14px;
}

#closeBtnWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
  width: 100%;
  height: 40px;
  font-size: 14px;
}

#closeBtn {
  width: 80px;
  height: 34px;
  border-radius: 100px;
  border: 1px solid #dddddd;
  color: #c4c4c4;
  cursor: pointer;
}

#viewWrap {
  width: 816px;
  height: 500px;
}

#navRTit {
  display: flex;
  align-items: center;
  padding-left: 20px;
  width: 796px;
  height: 40px;
  font-size: 16px;
  background: white;
  border: 1px solid #eaeaea;
}

#navRContentWrap {
  width: 776px;
  padding: 0px 20px;
  border-bottom: 1px solid #eaeaea;
  border-left: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea;
  font-size: 14px;
  background: white;
}

#profNameMfWrap,
#profDeptMfWrap,
#profMajorMfWrap,
#profSubjectMfWrap,
#profEmailMfWrap,
#profLocationMfWrap,
#profAbleTimeMfWrap {
  padding: 20px 0px;
  border-bottom: 1px dotted #eaeaea;
}

#profNameMfTit,
#profDeptMfTit,
#profMajorMfTit,
#profSubjectMfTit,
#profEmailMfTit,
#profLocationMfTit,
#profAbleTimeMfTit {
  color: #1abc9c;
  margin-bottom: 20px;
}

#profMajorContentWrap,
#profSubjectContentWrap,
#profEmailContentWrap,
#profLocationContentWrap,
#profAbleTimeContentWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#modifyBtn {
  padding: 2px 8px;
  color: #c4c4c4;
  background: #eaeaea;
  border-radius: 50px;
  border: none;
}

#modifyBtn:hover {
  cursor: pointer;
}
