@charset "UTF-8";

#noticeCount {
  position: relative;
  right: 12px;
  top: -3px;
  font-size: 12px;
  color: white;
}

#noticeImg {
  width: 20px;
  height: 20px;
}

#noticeOnImg {
  cursor: pointer;
  width: 24px;
  height: 20px;
}

#backBtn:hover {
  cursor: pointer;
}

#backBtn:focus {
  outline: none;
}

#footer {
  display: flex;
  margin-top: 800px;
  margin: 0 auto;
  width: 100%;
  height: 200px;
  background: #ededed;
  justify-content: center;
  align-items: center;
  color: #535353;
}

#blank {
  height: 80px;
}

* {
  padding: 0px;
  margin: 0px;
}

body {
  background: #fafafa;
}

#noticeIcon:hover,
#reserveIcon:hover,
#messageIcon:hover {
  cursor: pointer;
}

#noticeIcon,
#reserveIcon,
#messageIcon {
  color: black;
}

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: none;
}

#title,
#title a:link,
#title a:visited,
#title a:hover {
  color: #1abc9c;
}

#header {
  width: 100%;
  height: 80px;
  background: white;
  border-bottom: 1px solid #eaeaea;
}

#headerInner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 1194px;
  height: 100%;
}

#headerInnerL {
  display: flex;
  align-items: center;
}

#title {
  font-family: 'Yellowtail', cursive;
  font-size: 18px;
  font-weight: bold;
}

#gnb {
  margin-left: 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  font-size: 14px;
}

#headerInnerR {
  display: flex;
  align-items: center;
}

#dropdown {
  position: relative;
  display: inline-block;
  font-size: 14px;
  padding: 14px;
}

#dropdown-button div {
  justify-content: flex-end;
}

#dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  margin-top: 14px;
  min-width: 130px;
  padding: 4px;
  border-radius: 5px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

#dropdown-content a {
  color: black;
  padding: 8px;
  text-decoration: none;
  display: block;
}

#dropdown-content a:hover {
  background-color: #fafafa;
  border-radius: 5px;
}

#dropdown:hover #dropdown-content {
  display: block;
}

#headerInnerR img {
  margin-left: 60px;
}

#navWrap {
  padding-top: 80px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 1194px;
}

#navL {
  width: 318px;
  height: 500px;
  border-radius: 5px;
}

#navLTit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  border: 1px solid #eaeaea;
  font-size: 16px;
  background: white;
  border-radius: 5px 5px 0px 0px;
}

#navListWrap {
  width: 100%;
  border-bottom: 1px solid #eaeaea;
  border-left: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea;
  background: white;
  border-radius: 0px 0px 5px 5px;
}

#navListName {
  display: flex;
  align-items: center;
  width: 298px;
  height: 40px;
  padding-left: 20px;
  font-size: 14px;
  color: #1abc9c;
}

#profDataMfBtnWrap {
  margin-top: 60px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  font-size: 14px;
}

#navList {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  font-size: 14px;
}

#profMfName {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 318px;
  height: 40px;
  font-size: 14px;
  background: #1abc9c;
  color: white;
}

#navR {
  width: 816px;
  height: 500px;
}

#navRTit {
  display: flex;
  align-items: center;
  padding-left: 20px;
  width: 796px;
  height: 40px;
  font-size: 16px;
  background: white;
  border-radius: 5px 5px 0px 0px;
  border: 1px solid #eaeaea;
}

#navRContentWrap {
  width: 776px;
  padding: 0px 20px;
  background: white;
  border-radius: 0px 0px 5px 5px;
  border-bottom: 1px solid #eaeaea;
  border-left: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea;
  font-size: 14px;
}

#noticeImg {
  width: 14px;
  height: 14px;
}

#noticeImg:hover {
  cursor: pointer;
}

#backBtn {
  width: 100px;
  height: 40px;
  font-size: 14px;
  color: #1abc9c;
  background: white;
  border-radius: 5px;
  border: 1px solid #1abc9c;
}

#profDataMfBtn:hover {
  width: 100px;
  height: 40px;
  font-size: 14px;
  color: white;
  background: #1abc9c;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

#userImgWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 316px;
  height: 180px;
  font-size: 14px;
  background-image: url('/images/user.svg');
  background-position: center;
  background-size: cover;
}

#modifyBtn {
  padding: 2px 8px;
  color: #c4c4c4;
  background: #eaeaea;
  border-radius: 50px;
  border: none;
}

#modifyBtn:hover {
  cursor: pointer;
}

.swal-button {
  padding: 7px 19px;
  border-radius: 2px;
  font-size: 12px;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}

#profNameMfWrap,
#profDeptMfWrap,
#profMajorMfWrap,
#profSubjectMfWrap,
#profEmailMfWrap,
#profLocationMfWrap,
#profAbleTimeMfWrap {
  padding: 20px 0px;
  border-bottom: 1px dotted #eaeaea;
}

#profNameMfTit,
#profDeptMfTit,
#profMajorMfTit,
#profSubjectMfTit,
#profEmailMfTit,
#profLocationMfTit,
#profAbleTimeMfTit {
  color: #1abc9c;
  margin-bottom: 20px;
}

#profMajorContentWrap,
#profSubjectContentWrap,
#profEmailContentWrap,
#profLocationContentWrap,
#profAbleTimeContentWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#blankDiv {
  width: 60px;
}

#profSubjectMfText,
#profAbleTimeMfText {
  margin-bottom: 10px;
}

#profSubjectMfText:last-child,
#profAbleTimeMfText:last-child {
  margin-bottom: 0px;
}

#rejectBtn {
  color: red;
  cursor: pointer;
}

#daysOfTheWeek,
#startTimes {
  margin-bottom: 10px;
}

#courseList,
#daysOfTheWeek,
#startTimes,
#endTimes {
  padding-left: 10px;
  width: 240px;
  height: 34px;
  border-radius: 50px;
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  color: #535353;
}

#courseList:hover,
#daysOfTheWeek:hover,
#startTimes:hover,
#endTimes:hover {
  cursor: pointer;
}

#courseList:focus,
#daysOfTheWeek:focus,
#startTimes:focus,
#endTimes:focus {
  outline: none;
}
