<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>새 알림</title>
</head>
<script>
	function returnUrl() {
		var url = event.currentTarget.closest("div").id;
		opener.movePage(url);
	}
</script>
<body id="alertBg">
<div id="pop01">
    <div id="alertWrap">
        <div id="alertTitle">알림</div>
        <c:if test="${requestScope.alerts == null}">
        	새로운 알림이 없습니다.
        </c:if>
        <c:forEach items="${requestScope.alerts}" var="alert">
                    <div id="alertBox">
                        <div id="alertBoxBottom">
                        <div id="alertType">${alert.alert_type}</div>
                            <div id="${alert.url}" class="link" onclick="returnUrl()">바로가기</div>
                            </div>
            			<div id="alertContent">${alert.alert_msg}</div>
                        <div id="alertDate">${alert.alert_date}</div>
        			</div>
        </c:forEach>
    </div>
</div>
</body>
</html>