<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>새 알림</title>
	<link th:href="@{/css/alert.css}" rel="stylesheet" />
</head>
<script th:inline="javascript">
	function returnUrl() {
		var url = event.currentTarget.closest("div").id;
		opener.movePage(url);
	}
</script>
<body id="alertBg">
<div id="pop01">
    <div id="alertWrap">
        <div id="alertTitle">알림</div>
        <span th:if="${notFound}">새로운 알림이 없습니다.</span>
				<div id="alertBox" th:each="alert : ${alerts}">
          <div id="alertBoxBottom">
          	<div id="alertType" th:text="${alert.title}"></div>
          	<div th:id="${alert.url}" class="link" onclick="returnUrl()">바로가기</div>
          </div>
        	<div id="alertContent" th:text="${alert.alertMsg}"></div>
        	<div id="alertDate" th:text="${alert.alertDate}"></div>
        </div>
    </div>
</div>
</body>
</html>