<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default_layout}">

<th:block layout:fragment="head">
  <title>Home</title>
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Yellowtail&display=swap" rel="stylesheet">
  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.css">
  <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/locales-all.js"></script>
  
  <link th:href="@{/css/header.css}" rel="stylesheet" />
  <link th:href="@{/css/home.css}" rel="stylesheet" />
  <link th:href="@{/css/footer.css}" rel="stylesheet" />

  <script th:inline="javascript">
    var schedules = [[${ schedules }]];
    var role = [[${ session.role }]];
  </script>
</th:block>

<body>
  <th:block layout:fragment="header" th:include="@{/fragments/header}"></th:block>
  <div layout:fragment="content" class="content">
    <div id="banner">
      <img src="/images/banner.svg" />
    </div>

    <div id='calendar'></div>

    <script type="text/javascript" th:src="@{/javascript/calendar.js}"></script>
  </div>
  <th:block layout:fragment="footer" th:include="@{/fragments/footer}"></th:block>
  
  <script src="/javascript/alert.js"></script>
</body>

</html>